__pycache__
.git
.dockerignore
.gitignore

.cache/
.coverage
.storybook-out/
.DS_Store
.venv
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
MANIFEST
test.conf
pip-log.txt
package.json
/.artifacts
/coverage/
/cover
/build
/env
/tmp
node_modules
/wheelhouse
/test_cli/
.idea/
*.iml
.pytest_cache/
.vscode/tags
coverage.xml
junit.xml
*.codestyle.xml
package-lock.json
