# General
DISPATCH_UI_URL=""

LOG_LEVEL="ERROR"
STATIC_DIR=""
DATABASE_HOSTNAME="localhost"
DATABASE_CREDENTIALS="dispatch:dispatch"
DISPATCH_ENCRYPTION_KEY="NJHDWDJ3PbHT8h"
DISPATCH_JWT_SECRET="foo"

# Authentication
# For basic authentication see: https://hawkins.gitbook.io/dispatch/administration-guide/server#configuration-for-dispatch-auth-provider-basic
# For PKCE authentication see: https://hawkins.gitbook.io/dispatch/administration-guide/server#configuration-for-dispatch-auth-provider-pkce

# For additional server configuration options see: https://hawkins.gitbook.io/dispatch/administration-guide/server
