SQLAlchemy-Searchable
aiofiles
alembic
arrow
cachetools==3.1.1  # NOTE pinning for google-auth
click
email-validator
emails
fastapi
fastapi_permissions
google-api-python-client
google-auth-oauthlib
httpx
jinja2
jira
joblib
oauth2client
psycopg2-binary
pyparsing
pypd  # pagerduty plugin
python-dateutil
python-jose
python-multipart
pytz
requests
schedule
sentry-asgi
sentry_sdk
sh
slackclient
spacy
sqlalchemy
sqlalchemy-filters
tabulate
tenacity
uvicorn
bcrypt
