aiocache
aiofiles
aiohttp
alembic
atlassian-python-api==3.32.0
attrs==22.1.0
bcrypt
blockkit
boto3
cachetools
chardet
click
cryptography<40,>=38.0.0
duo-client
email-validator
emails
fastapi
google-api-python-client
google-auth-oauthlib
h11
httpx
jinja2
jira==2.0.0
joblib
jsonpath_ng
markdown
msal
numpy
oauth2client
openai
pandas
pdpyras
protobuf<4.24.0,>=3.6.1
psycopg2-binary
pydantic==1.*
pyparsing
python-dateutil
python-jose
python-multipart
python-slugify
pytz
requests
schedule
schemathesis
sentry-asgi
sentry-sdk
sh
slack_sdk
slack-bolt
slowapi
spacy
sqlalchemy-filters
sqlalchemy-utils
sqlalchemy<1.4  # NOTE temporarily until https://github.com/kvesteri/sqlalchemy-utils/issues/505 is fixed
statsmodels
tabulate
tenacity
uvicorn
uvloop
validators==0.18.2
