SQLAlchemy-Searchable
aiofiles
alembic
arrow
bcrypt
cachetools==3.1.1  # NOTE pinning for google-auth
click
email-validator
emails
fastapi
fastapi_permissions
google-api-python-client
google-auth-oauthlib
h11==0.9.0 # NOTE pinning due to uvicorn
httpx
jinja2
jira
joblib
numpy
oauth2client
pandas
pdpyras
psycopg2-binary
pyparsing
python-dateutil
python-jose
python-multipart
pytz
requests
rsa==4.0  # NOTE pinning for google-auth
schedule
sentry-asgi
sentry-sdk
sh
slackclient
spacy
sqlalchemy
sqlalchemy-filters
statsmodels
tabulate
tenacity
uvicorn
