aiocache
aiofiles
aiohttp
alembic
blockkit
bcrypt
cachetools
chardet
click
duo-client
email-validator
emails
fastapi
google-api-python-client
google-auth-oauthlib
h11
httpx
jinja2
jira==2.0.0
atlassian-python-api==3.32.0
joblib
jsonpath_ng
numpy
oauth2client
pandas
pdpyras
protobuf
psycopg2-binary
pyparsing
python-dateutil
python-jose
python-multipart
python-slugify
pytz
requests
schedule
schemathesis
sentry-asgi
sentry-sdk
sh
slack_sdk
slack-bolt
spacy
sqlalchemy-filters
sqlalchemy-utils
sqlalchemy<1.4  # NOTE temporarily until https://github.com/kvesteri/sqlalchemy-utils/issues/505 is fixed
statsmodels
tabulate
tenacity
uvicorn
uvloop
validators==0.18.2
markdown
