.rbt-icon-picker {
  .icon-preview {
      font-size: 22px;
      padding: 10px 20px 0;
      display: inline-block;
  }
  .picker-btn {
      color: #fff;
      background: #339af0;
      padding: 12px 25px;
      border: 0;
      border-radius: 2px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      cursor: pointer;
      transition: all .25s ease-in;
      &:hover {
          background: #2c89d6;
      }
  }
}

.rip-popup-component {
  text-align: center;
  z-index: 5999999;
  transition: all .2s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  .rip-popup-bg {
      width: 100%;
      background: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
      transition: all .25s ease;
      opacity: 1;
      left: 0;
  }
  .rip-popup {
      transition: all .2s;
      z-index: 100;
      margin: 10px;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border-radius: 6px;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
      background: #f8f9fa;
      animation: rebound .3s;
      .rip-popup-header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: rgba(0,0,0,.05);
          border-radius: 5px 5px;
          position: relative;
          h2 {
              transition: all .23s ease .1s;
              padding: 8px 8px 8px 12px;
              font-size: 18px;
              text-align: center;
              width: 100%;
          }
          span {
              background: #ffffff;
              transition: all .23s ease .1s;
              position: relative;
              padding: 8px;
              cursor: pointer;
              box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
              border-radius: 5px;
              color: rgba(0,0,0,.6);
              transform: translate(8px,-8px);
              line-height: 16px;
              font-size: 30px;
              &:hover {
                  box-shadow: 0 0 0 0 rgba(0,0,0,.1);
                  transform: translate(5px,-5px);
              }
          }
      }
      .rip-popup-content {
          padding: 14px;
          font-size: 14px;
          transition: all .23s ease .1s;
          overflow: auto;
          max-height: calc(100vh - 100px);
          margin-top: 5px;
          margin-bottom: 5px;
          .rip-search {
              .rip-input {
                  display: flex;
                  -webkit-box-align: start;
                  -ms-flex-align: start;
                  align-items: flex-start;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  position: relative;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  padding-bottom: 20px;
                  border-bottom: 1px dashed #e5e5e5;
                  margin-bottom: 20px;
                  input {
                      width: 100% !important;
                      transition: all .1s ease-in-out;
                      padding: 16px 48px 16px 24px;
                      font-size: 25px;
                      border: 2px solid #dee2e6;
                      box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
                      color: #495057;
                      border-radius: 4px;
                      &::placeholder {
                          color: #c9cbcd;
                      }
                  }
                  span {
                      position: absolute;
                      right: 25px;
                      font-size: 28px;
                      color: #caccce;
                      opacity: 0.4;
                  }
              }
          }
          .rip-content {
              width: 100%;
              .rip-not-found {
                  min-height: 75vh;
                  display: flex;
                  align-items: center;
                  align-self: center;
                  align-content: center;
                  min-width: 100%;
                  text-align: center;
                  svg {
                      margin: 0 auto;
                      font-size: 50px;
                      color: #adb5bd;
                  }
              }
              h4.icon-title {
                  font-size: 20px;
                  text-transform: uppercase;
                  letter-spacing: 0.03em;
                  margin-bottom: 25px;
              }
              .rip-row {
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;
                  margin: 0;
                  padding: 0;
                  .rip-col {
                      text-align: center;
                      padding: 0 0 16px;
                      width: 25%;
                      list-style: none;
                      .icon-content {
                          border-radius: 3px;
                          transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                          transform: translateZ(0);
                          .icon-el {
                              padding: 8px;
                              font-size: 35px;
                              font-weight: 900;
                              color: #495057;
                              cursor: pointer;
                              transition: all ;
                              border-top-left-radius: 3px;
                              border-top-right-radius: 3px;
                              &:hover {
                                  color: #fff;
                                  background: #339af0;
                              }
                          }
                          .icon-title {
                              padding: 8px 4px;
                              font-size: 13px;
                              color: #adb5bd;
                              &:hover {
                                  color: #495057;
                              }
                          }
                          &:hover {
                              background: #fff;
                              box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
                          }
                      }

                      @media (min-width: 576px) {
                          width: 20%;
                      }
                      @media (min-width: 768px) {
                          width: 16.6667%;
                      }
                      @media (min-width: 1200px) {
                          width: 11.1111%;
                      }
                  }
              }
          }
      }
  }
}

@keyframes rebound {
  0% {
      -webkit-transform: scale(.9);
      transform: scale(.9);
  }

  50% {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
