.v-data-table {
    font-size: 0.875rem;
}

.v-card--variant-outlined {
    border-color: rgb(210, 210, 210);
}

.v-theme--light{
    .formkit-input {
        --fk-color-input: rgb(0,0,0);;
    }
    .formkit-help {
        --fk-color-help: rgb(0,0,0);
    }
}

.v-theme--dark{
    .formkit-input {
        --fk-color-input: rgb(255,255,255);;
    }
    .formkit-help {
        --fk-color-help: rgb(255,255,255);;
    }
}
