.panel-button {
  pointer-events: auto;
  cursor: pointer;
}
.main-panel {
  margin-top: 5px;
  margin-bottom: -18px;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background: transparent;
}
.form-container {
  color: #333;
  font-size: 15px;
}
.chip-group {
  display: flex;
  row-gap: 5px;
  column-gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.tag-chip {
  border-radius: 10px;
}
.dropdown-input,
.search-input {
  width: 100%;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
}
.search-input {
  flex: 1;
  width: auto;
}
.dropdown-box {
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-width: 100%;
  max-height: 1250px;
  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
}
.tag-group-metadata {
  display: flex;
  row-gap: 5px;
  padding: 8px 0;
  flex-direction: column;
}
.tag-group-header {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.tag-group-rule,
.tag-group-desc,
.empty-search {
  color: #999;
  font-size: 90%;
}
.tag-group-rule-desc {
  color: red;
  font-size: 90%;
}
.checkbox-item {
  padding: 5px 0;
  list-style: none;
  cursor: pointer;
}
.checkbox-item-box {
  cursor: pointer;
}
.search-term {
  color: black;
}
.empty-search {
  color: red;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.button-group {
  display: flex;
  column-gap: 10px;
  padding-bottom: 2%;
}
[id^="togList"],
[id^="togList"] ~ label .tag-group-icon-up,
[id^="togList"]:checked ~ label .tag-group-icon-down,
[id^="togList"] ~ .checkbox-label {
  display:none;
}
[id^="togList"] ~ label .tag-group-icon-down,
[id^="togList"]:checked ~ label .tag-group-icon-up,
[id^="togList"]:checked ~ .checkbox-label{
  display:block;
}
