.wavy-underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: silver;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.pre-formatted {
    white-space: pre;
}

.time-zone-notice {
  margin-top: -10px;
  margin-bottom: -20px;
}

.up-button {
  margin-top: -10px;
}

.add-event .add-button {
  background-color: rgb(var(--v-theme-background0));
  font-size: 2.85rem;
  color: rgb(140 154 170);
  line-height: 1rem;
  display: none;
  margin-top: -20px;
}

.add-event:hover .add-button {
  display: inline-block;
}

.add-event {
  background-color: transparent;
  align-items: center;
  text-align: center;
  width: 100%;
  display: block;
  height: 40px;
  margin-top: var(--margtop);
  margin-bottom: var(--margbot);
  position: relative;
  z-index: 99;
}

.add-event .horiz-rule {
  display: none;
  background-color: rgb(var(--v-borderline));
  height: 2px;
  margin-top: var(--margrule);
  margin-left: 4rem;
  width: 80%;
}

.add-event:hover .horiz-rule {
  display: block;
}

.custom-event-edit {
  display: none;
}

.custom-event:hover .custom-event-edit {
  display: block;
  z-index: 100;
  position: absolute;
  margin-top: -17px;
}

.pinned-event-edit {
  display: none;
}

.pinned-event:hover .pinned-event-edit {
  display: block;
  z-index: 100;
  position: absolute;
  margin-top: 10px;
}

.not-a-custom-event {
  height: 20px;
}

.pinned-custom-event {
  display: block;
  z-index: 101;
  position: absolute;
  margin-top: 10px;
}

.custom-event:hover .pinned-custom-event {
  display: none !important;
}

:deep(.v-timeline-item__body) {
  justify-self: initial !important;
}

.summary-paragraph > * {
  margin: 10px;
  text-align: justify;
}

.summary-paragraph > *:last-child {
  margin-bottom: 0px;
}

.summary-paragraph > *:first-child {
  margin-top: 0px;
}

.caveat-text {
  font-size: 0.875rem;
  color: #555;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

.signal-timeline{
  padding-bottom: 50px;
}
